/* Teal #63a8a5 */

.navbar-brand {
  font-family: "Playfair Display", serif;
  color: white !important;
  letter-spacing: 1px;
  /* Not sure yet playfair is the right one */
}

.nav-teal {
  background-color: #63a8a5 !important;
}

#navmargin-bottom {
  margin-bottom: 5vw;
} 

body {
  background-image: url("./ignasi_pattern_s.png");
}

#about-me-box, #portfolio-box {
  background-color:white;
  padding: 25px;
}

h1 {
  font-family: "Playfair Display", serif;
  color:#63a8a5;
}

#about-me-box img {
  float: left;
  margin-right: 20px;
  border: 2px outset;
}

#portfolio-box img {
  width: 100%;
}

.row {
  margin-bottom: 20px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    background-color: #666666;
    color: #6d757c;
    border-top: 6px solid #63a8a5;
}

.cntrjude {
    text-align: center;
}