/* Teal #63a8a5 */

.navbar-brand {
  font-family: "Playfair Display", serif;
  color: white !important;
  letter-spacing: 1px;
  /* Not sure yet playfair is the right one */
}

.nav-teal {
  background-color: #63a8a5 !important;
}

#navmargin-bottom {
  margin-bottom: 5vw;
} 

body {
  background-image: url("./ignasi_pattern_s.png");
}

/* I thought this was supposed to make my footer stick >:( */
main { 
  min-height: calc(100vh - 56px - 61px);
  flex-shrink: 0!important;
} 

#about-me-box, #portfolio-box, #contact-box {
  background-color:white;
  padding: 25px;
}

h1 {
  font-family: "Playfair Display", serif;
  color:#63a8a5;
}

#about-me-box img {
  float: left;
  margin-right: 20px;
  border: 2px outset;
}

#portfolio-box img {
  width: 100%;
}

.row {
  margin-bottom: 20px;
}


/* footer styling */
footer {
  display: block;
  margin-top: auto !important;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 55px;
  border-top: 6px solid #63a8a5;
  width: 100%;
  background-color: #666666;
  color:#6d757c;
  font-size: 1.2em;
}

/* centering the footer text */
footer p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: small;
}

.btn-teal {
  background-color: #63a8a5;
  border-color: #63a8a5;
}